
{% if chrony_ntp_servers|length > 0 %}
# List of NTP servers to use
{% for server in chrony_ntp_servers %}
server {{ server }}
{% endfor %}
{% endif %}

{%- if chrony_ntp_pools|length > 0 %}
# List of NTP pools to use
{% for pool in chrony_ntp_pools %}
pool {{ pool }}
{% endfor %}
{% endif %}

{%- if chrony_ntp_peers|length > 0 %}
# List of NTP pools to use
{% for peer in chrony_ntp_peers %}
peer {{ peer }}
{% endfor %}
{% endif %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Enable hardware timestamping on all interfaces that support it.
#hwtimestamp *

# Increase the minimum number of selectable sources required to adjust
# the system clock.
#minsources 2

{% if chrony_allow_networks|length > 0 %}
# Allow NTP client access from local network.
{% for network in chrony_allow_networks %}
{{ server }}
{% endfor %}
{% endif %}

{% if chrony_is_local == 'true' %}
# Serve time even if not synchronized to a time source.
local stratum 10
{% endif %}

# Specify file containing keys for NTP authentication.
keyfile {{ chrony_keyfile }}

# Get TAI-UTC offset and leap seconds from the system tz database.
leapsectz right/UTC

# Specify directory for log files.
logdir /var/log/chrony

# Select which information is logged.
#log measurements statistics tracking